/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* primary colors */
  --clr-primary-violet: hsl(228, 67%, 53%);
  --clr-primary-ligth-violet: hsl(235, 82%, 77%);
  --clr-primary-very-dark-blue: hsl(219, 29%, 14%);
  --clr-primary-midnight: hsl(220, 29%, 14%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(210, 22%, 96%);
  --clr-grey: hsl(212, 23%, 69%);
  --clr-dark-grey: hsl(214, 17%, 51%);

  --ff-primary: 'Kumbh Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
main {
  background: var(--theme-bg);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  margin-bottom: 0.75rem;
  font-weight: 700;
}
h1 {
  font-size: 28px;
  line-height: 34px;
}
h2 {
  font-size: 24px;
  line-height: 29px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 14px;
  line-height: 18px;
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 1.25rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/
.light-theme {
  --theme-bg: hsl(210, 22%, 96%);
  --single-company-bg: hsl(0, 0%, 100%);
  --company-title: hsl(220, 29%, 14%);
}

.dark-theme {
  --theme-bg: hsl(219, 29%, 14%);
  --single-company-bg: hsl(224, 35%, 18%);
  --company-title: hsl(210, 22%, 96%);
}

/*
=============== 
Styles
===============
*/
/*
=============== 
Header
===============
*/
.header {
  background: url(./assets/mobile/bg-pattern-header.svg) center/cover;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  max-width: var(--max-width);
}
.toggle-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 9rem;
}
.header-icon-sun {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--clr-light-grey);
}
.header-icon-moon {
  color: var(--clr-light-grey);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .header {
    background: url(./assets/tablet/bg-pattern-header.svg) center/cover;
    padding: 2rem;
    padding-bottom: 4rem;
  }
  .toggle-btn {
    width: 11rem;
  }
}
@media screen and (min-width: 900px) {
  .header {
    background: url(./assets/desktop/bg-pattern-header.svg) center/cover;
    padding: 2rem 8rem;
    padding-bottom: 4rem;
  }
}
/*///////////// 
Toggle switch button 
//////////////*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-light-grey);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:hover:before {
  background-color: var(--clr-primary-ligth-violet);
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 8px;
  bottom: 7px;
  background-color: var(--clr-primary-violet);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: var(--clr-toggle); */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of toggle switch button */

/*
=============== 
Search Form
===============
*/
.search-container {
  width: 80vw;
  background: var(--single-company-bg);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: -2rem;
  display: grid;
  justify-content: center;
  padding-bottom: 1rem;
}
.form-control {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 24rem;
}
.title-input,
.location-input {
  border: transparent;
  margin-left: 0.5rem;
  width: 18rem;
  height: 2rem;
  background: var(--single-company-bg);
  padding: 0 1rem;
  font-family: var(--ff-primary);
  font-size: 1.1rem;
  text-transform: capitalize;
  color: var(--clr-grey);
}
.search-title-icon,
.search-location-icon {
  color: var(--clr-primary-violet);
  margin-top: 0.5rem;
}
.title-input::placeholder,
.location-input::placeholder {
  color: var(--clr-grey);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.fulltime-label {
  color: var(--company-title);
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.search-checkbox {
  background: var(--clr-grey);
}
.submit-btn {
  background: var(--clr-primary-violet);
  border: transparent;
  cursor: pointer;
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  transition: var(--transition);
}
.submit-btn:hover {
  background: var(--clr-primary-ligth-violet);
}
@media screen and (min-width: 700px) {
  .search-container {
    width: 90vw;
    padding: 0.5rem 1rem;
  }
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    align-content: center;
    width: 90vw;
    padding: 0 1rem;
  }
  .form-control {
    padding: 0.5rem;
    width: 10rem;
  }
  .title-input,
  .location-input {
    width: 10rem;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .title-input::placeholder,
  .location-input::placeholder {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
  }
  .fulltime-label {
    font-size: 0.9rem;
  }
  .submit-btn {
    margin-top: 0;
    height: 2.2rem;
    align-self: center;
  }
}
@media screen and (min-width: 1000px) {
  .search-container {
    width: 80vw;
  }
  .form-container {
    width: 80vw;
  }
  .form-control {
    padding: 0.6rem;
    width: 16rem;
  }
  .title-input,
  .location-input {
    width: 18rem;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .title-input::placeholder,
  .location-input::placeholder {
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
  }
  .fulltime-label {
    font-size: 0.9rem;
  }
  .submit-btn {
    height: 2.4rem;
  }
}

/*
=============== 
All companies container
===============
*/

.single-company {
  position: relative;
  width: 80vw;
  margin: 2.2rem auto;
  background: var(--single-company-bg);
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 6px;
}
.company-logo {
  position: absolute;
  left: 10%;
  top: -5%;
  width: 3rem;
  max-height: 3rem;
  padding: 1rem 0.3rem;
  border-radius: 12px;
}
.contract-container {
  color: var(--clr-grey);
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-content: center;
}
.dot {
  font-size: 2.5rem;
  margin-bottom: 0;
  line-height: 10px;
}
.company-name {
  color: var(--clr-grey);
}
.company-location {
  color: var(--clr-primary-violet);
}
.position {
  color: var(--company-title);
  cursor: pointer;
}
.submit-btn {
  background: var(--clr-primary-violet);
  border: transparent;
  cursor: pointer;
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  transition: var(--transition);
}
.submit-btn:hover {
  background: var(--clr-primary-ligth-violet);
}
.load-btn {
  margin-bottom: 10rem;
  margin-left: 41%;
  padding: 0.8rem 1.5rem;
  align-self: center;
}
@media screen and (min-width: 700px) {
  .companies {
    width: 90vw;
    margin: 0 auto;
  }
  .all-companies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .single-company {
    width: 43vw;
    margin: 2.2rem auto;
    background: var(--single-company-bg);
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 6px;
  }
  .position {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1000px) {
  .companies {
    width: 80vw;
    max-width: var(--max-width);
  }
  .all-companies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
  .single-company {
    width: 26vw;
  }
  .position {
    font-size: 1rem;
  }
}
